---
import { Image } from "astro:assets";
import user from "../assets/defaultUser.jpg";
---

<!-- Marquee Effect -->
<div class='mt-28 relative w-full h-full overflow-clip'>
  <div
    class='marquee relative flex flex-nowrap text-black
    w-[800%] sm:w-[600%] md:w-[400%] lg:w-[300%] xl:w-[200%]'
  >
    <!-- Item -->
    <div class='item flex-1 mx-4 max-h-84'>
      <div
        class='bg-accent h-full p-8 rounded-2xl flex flex-col gap-4 justify-between'
      >
        <p>
          1 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit
          porro nostrum consequatur nesciunt quidem deleniti corporis quas
          numquam praesentium natus totam, dignissimos modi labore animi? Et
          magni in nemo hic.
        </p>

        <div class='flex gap-4'>
          <Image class='size-12 rounded-full' src={user} alt='user' />
          <div>
            <p>Jane Doe</p>
            <p class='text-sm'>Solar energy services</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class='item flex-1 mx-4 max-h-84'>
      <div
        class='bg-accent p-8 rounded-2xl flex flex-col h-full gap-4 justify-between'
      >
        <p>
          2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit
          porro nostrum consequatur nesciunt quidem deleniti corporis quas
          numquam praesentium natus totam.
        </p>

        <div class='flex gap-4'>
          <Image class='size-12 rounded-full' src={user} alt='user' />
          <div>
            <p>Jane Doe</p>
            <p class='text-sm'>Solar energy services</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class='item flex-1 mx-4 max-h-84'>
      <div
        class='bg-accent h-full p-8 rounded-2xl flex flex-col gap-4 justify-between'
      >
        <p>
          3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit
          porro nostrum consequatur nesciunt quidem deleniti corporis quas
          numquam praesentium natus totam, dignissimos modi labore animi? Et
          magni in nemo hic.
        </p>

        <div class='flex gap-4'>
          <Image class='size-12 rounded-full' src={user} alt='user' />
          <div>
            <p>Jane Doe</p>
            <p class='text-sm'>Solar energy services</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class='item flex-1 mx-4 max-h-84'>
      <div
        class='bg-accent h-full p-8 rounded-2xl flex flex-col gap-4 justify-between'
      >
        <p>
          4 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit
          porro nostrum consequatur nesciunt quidem deleniti corporis quas
          numquam praesentium natus totam, dignissimos modi labore animi? Et
          magni in nemo hic.
        </p>

        <div class='flex gap-4'>
          <Image class='size-12 rounded-full' src={user} alt='user' />
          <div>
            <p>Jane Doe</p>
            <p class='text-sm'>Solar energy services</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class='item flex-1 mx-4 max-h-84'>
      <div
        class='bg-accent h-full p-8 rounded-2xl flex flex-col gap-4 justify-between'
      >
        <p>
          5 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit
          porro nostrum consequatur nesciunt quidem deleniti corporis quas
          numquam praesentium natus totam, dignissimos modi labore animi? Et
          magni in nemo hic.
        </p>

        <div class='flex gap-4'>
          <Image class='size-12 rounded-full' src={user} alt='user' />
          <div>
            <p>Jane Doe</p>
            <p class='text-sm'>Solar energy services</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class='item flex-1 mx-4 max-h-84'>
      <div
        class='bg-accent h-full p-8 rounded-2xl flex flex-col gap-4 justify-between'
      >
        <p>
          6 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit
          porro nostrum consequatur nesciunt.
        </p>

        <div class='flex gap-4'>
          <Image class='size-12 rounded-full' src={user} alt='user' />
          <div>
            <p>Jane Doe</p>
            <p class='text-sm'>Solar energy services</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class='item flex-1 mx-4 max-h-84'>
      <div
        class='bg-accent h-full p-8 rounded-2xl flex flex-col gap-4 justify-between'
      >
        <p>7 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

        <div class='flex gap-4'>
          <Image class='size-12 rounded-full' src={user} alt='user' />
          <div>
            <p>Jane Doe</p>
            <p class='text-sm'>Solar energy services</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class='item flex-1 mx-4 max-h-84'>
      <div
        class='bg-accent h-full p-8 rounded-2xl flex flex-col gap-4 justify-between'
      >
        <p>
          8 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit
          porro nostrum consequatur nesciunt quidem deleniti corporis quas
          numquam praesentium natus totam, dignissimos modi labore animi?
        </p>

        <div class='flex gap-4'>
          <Image class='size-12 rounded-full' src={user} alt='user' />
          <div>
            <p>Jane Doe</p>
            <p class='text-sm'>Solar energy services</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .marquee {
    animation: marquee 30s linear infinite;
    pointer-events: none;
  }

  .marquee:hover {
    animation: marquee 0s;
  }

  @keyframes marquee {
    0% {
      transform: translate(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>

<!-- <div class='scroll-item w-screen grid lg:grid-cols-4 gap-8 bg-purple-400'></div> -->
<!-- <script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const horizontScroll = document.querySelector(
    "#horizont-scroll"
  ) as HTMLElement;

  let fullWidth = horizontScroll.offsetWidth;

  let items = gsap.utils.toArray(".scroll-item");

  console.log(fullWidth);

  gsap.to(horizontScroll, {
    xPercent: -100,
    ease: "none",
    scrollTrigger: {
      trigger: horizontScroll,
      pin: true,
      scrub: 1,
      /* snap: 1 / (items.length - 1), */
      start: "top 10%",
      end: () => "+=" + fullWidth,
      markers: true,
    },
  });
</script> -->
